*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# Ignore files and directories for MetaPlexus

# Node.js modules
node_modules/

# Build files
build/
dist/

# Environment files
.env

# Logs
logs/

# Coverage files
coverage/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
